.animated{
	animation-duration:4s;
	animation-timing-function:linear;
}
@keyframes music{
				0%{transform:rotate(0deg);}
				100%{transform:rotate(360deg);}
					}
@-webkit-keyframes music{
				0%{-webkit-transform:rotate(0deg);}
				100%{-webkit-transform:rotate(360deg);}
					}
@keyframes arrow{
				0%{opacity: 0;transform:translateY(0);}
				50%{opacity: 1;transform:translateY(-20px);}
				100%{opacity: 0;transform:translateY(-40px);}
					}
@-webkit-keyframes arrow{
				0%{opacity: 0;-webkit-transform:translateY(0);}
				50%{opacity: 1;-webkit-transform:translateY(-20px);}
				100%{opacity: 0;-webkit-transform:translateY(-40px);}
					}
@keyframes fadeInLeft{
				0%{opacity: 0;transform:translateX(-100%);}
				
				100%{opacity: 1;transform:translateX(0);}
					}
@-webkit-keyframes fadeInLeft{
				0%{opacity: 0;-webkit-transform:translateX(-100%);}
				
				100%{opacity: 1;-webkit-transform:translateX(0);}
					}


@keyframes fadeInRight{
				0%{opacity: 0;transform:translateX(100%);}
				
				100%{opacity: 1;transform:translateX(0);}
					}
@-webkit-keyframes fadeInRight{
				0%{opacity: 0;-webkit-transform:translateX(100%);}
				
				100%{opacity: 1;-webkit-transform:translateX(0);}
					}
.music-animate{
	-webkit-animation-name:music;
	animation-name:music;
}
.arrow-animate{
	-webkit-animation-name:arrow;
	animation-name:arrow;
	-webkit-animation-duration:0.8s;
	animation-duration:0.8s;
}
.fadeInLeft-animate{
	-webkit-animation-name:fadeInLeft;
	animation-name:fadeInLeft;
	-webkit-animation-duration:1s;
	animation-duration:1s;
	-webkit-animation-timing-function:ease;
	animation-timing-function:ease;
}
.fadeInRight-animate{
	-webkit-animation-name:fadeInRight;
	animation-name:fadeInRight;
	-webkit-animation-duration:0.8s;
	animation-duration:0.8s;
	-webkit-animation-timing-function:linear;
	animation-timing-function:linear;
}			
.infinite{
	-webkit-animation-iteration-count:infinite;
	animation-iteration-count:infinite;
}
.delay-time1{-webkit-animation-delay:0.3s;animation-delay:0.3s;}
.delay-time2{-webkit-animation-delay:0.6s;animation-delay:0.6s;}
.delay-time3{-webkit-animation-delay:0.9s;animation-delay:0.9s;}
.delay-time4{-webkit-animation-delay:1.2s;animation-delay:1.2s;}	
.delay-time5{-webkit-animation-delay:1.5s;animation-delay:1.5s;}	
